<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trang chủ</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <style>
        a:hover {
            color: #fff;
        }

        #main {
            background-color: black;
            width: 100vw;
            height: 100vh;
            display: flex;
        }

        #mask {
            width: 100vw;
            height: 100vh;
            background-color: rgba(255, 255, 255, 0.2);
            z-index: 1;
            position: fixed;
            top: 0;
            left: 0;
        }

        #wrap {
            margin: auto auto;
            z-index: 2;
        }

        .text {
            color: white;
            text-decoration: none;
        }

        .btn-algorithms {
            background-color: tomato;
            margin: 12px 12px 12px 0;
            padding: 30px;
            border-radius: 10px;
            display: block;
        }

        #wrap a {
            width: 100%;
        }

        #dhke a:hover,
        #ecdh a:hover {
            opacity: 0.7;
        }

        #title {
            font-size: 28px;
            color: #fff;
            font-weight: 600;
            display: block;
            text-align: center;
        }
    </style>
</head>
<body>
    <div id="main">
        <div id="wrap">
            <span id="title">Chọn thuật toán</span>
            <a href="/dhke" class="text btn-algorithms">Diffie-Hellman (DHKE)</a>
            <a href="/ecdh" class="text btn-algorithms">Diffie-Hellman với đường cong elliptic (ECDH)</a>    
        </div>
    </div>

    <div id="mask"></div>
</body>
</html>